* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background: black;
  width: 1260px;
  height: 100px;
  display: flex;
}
.icon {
  margin-left: 10px;
  margin-top: 2px;
  transition: 3000ms;
}
.icon:hover {
  transform: rotateX(180deg);
}
.title {
  font-size: 90px;
  margin-left: 5px;
  margin-top: 4px;
  color: orange;
}
.link {
  margin-left: 24px;
  margin-top: 36px;
  color: orange;
  text-decoration: none;
  text-align: center;
  border: 5px solid black;
}
.link:hover {
  border-bottom: 4px solid orange;
  color: white;
}

footer {
  margin-top: 685px;
  background: black;
  width: 1260px;
  height: 100px;
  display: flex;
}
.footer-title {
  color: orange;
  font-size: 60px;
  margin-top: 20px;
  margin-left: 5px;
}
.footer-icon {
  margin-top: 20px;
  margin-left: 10px;
}
.phone-icon {
  margin-left: 300px;
}
.email-icon {
  margin-left: 300px;
}
